<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>VGG16: Object Identification</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    
    <script type="text/javascript">// <![CDATA[
      function showAnalysisBar() {
        $('#notice').show();
      }
    //]]></script>
</head>
<body>
    <h1>Object Identification Using VGG16</h1>
    <form action="/submit" enctype="multipart/form-data" method="POST">
    <input type="file" name="video" >
    <br>    
    <br>                                                                                                                 
    <input type="search" name="search", placeholder="Search object...">
    
    <input type="submit" value="Search" onclick="showAnalysisBar();">
    </form>
    <div id="notice" hidden=True>
        <li>Analysing video...</li>
    </div>
</body>


</html>